<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Cadastro Usuário</title>
</head>
<body>
	<h3>Cadastro de Usuário</h3>
	<form method="post">
		Nome: <input type="text" value="" name="nome"/>
		Email: <input type="text" value="" name="email"/>
		Senha: <input type="password" value="" name="senha"/>
		
		<button type="submit">Salvar</button>	
	</form>
</body>
</html>