<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Página Lista de Telefone</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize.min.css"  media="screen,projection"/>

</head>
<h2>Lista de Usuários</h2>
	<h5><a href="/cadastroUsuario">Cadastrar Usuário</a></h5>
	<table class="container">
	<thead>
		
		<tr>
			<th>ID</th>
			<th>DDD</th>
			<th>Número</th>
			<th>Tipo</th>
			<th>Usuário</th>
		</tr>	
	</thead>
	<tbody>
	<tr th:each="telefone : ${telefone}">
		 <td th:text="${telefone.id}"></td>
		 <td th:number="${telefone.ddd}"></td>
		 <td th:text="${telefone.numero}"></td>
		 <td th:text=${telefone.tipo}></td>	
		 <td th:text=${telefone.usuario}></td>	
		 <td><a	th:href="@{/editarTelefone/{id}(id=${Telefone.id})}" ><i class="material-icons">edit</i></a></td>
		 <td><a	th:href="@{/excluirTelefone/{id}(id=${telefone.id})}" ><i class="material-icons">delete_sweep</i></a></td>
	</tr>	
	</tbody>	
	</table>
	
<script type="text/javascript" src="materialize/js/materialize.js"></script>	
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
</body>
</html>